:root {
  --title-span-color:#7869E6;
  --font-medium: 1em;
  --font-medium-large: 1.25em;
  --font-large: 1.5rem;
  --font-x-large: 2rem;
  --font-2x-large: 3rem;
  --font-3x-large: 3.5rem;
  --transition-fast: 0.5s;
}

/*Large Desktop*/
/*General CSS*/

html {
  scroll-behavior: smooth;
}

body {
 font-family: "Avenir Next", sans-serif;
 letter-spacing: 1px;
 
}
h2{
  font-size: 1.7em;
  
}
h3{
  color: #7869E6;
}
/*Main*/
.main-content{
  
  background-color: #fff;
  margin: auto;
  margin-bottom: 750px; /* Same height as footer */

}
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 60%;
  margin: 0 auto;
  border-radius: 15px;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  background-color: #fff;
  color: rgb(110, 109, 109);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.116);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.116);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.116);
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 50%;
}

/*Navigation*/

.navigation {
  width: 100%;
  height: 80px;
  border-bottom:solid 1px rgba(0, 0, 0, 0.103) ;
 /*  position: fixed;
  z-index: 1; 
  background-color: rgba(250, 250, 250, 0.7);
  backdrop-filter: blur(5px);
-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.116);
-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.116);
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.116);*/
}

.nav-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  
}

.nav-container .links {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
}

.nav-container .logo {
  display: flex;
  align-items: center;
  cursor:pointer;
}

.nav-container .links a,
.nav-container .logo a {
  text-decoration: none;
  transition: var(--transition-fast);
  font-family: "Avenir Next", sans-serif;
}

.nav-container .links a {
  font-size: var(--font-medium);
}

.nav-container .logo p , a{
  font-size: var(--font-large);
  letter-spacing: 0.2em;
  font-weight: 500;
  color: rgb(91, 91, 91);
}

.nav-container .links a:hover,
.nav-container .logo p:hover {
  color: #7869E6;/*rgb(7, 7, 7)*/
}

.mobile-button {
  display: none;
  cursor: pointer;
}

.mobile-links {
  
  background: #fff;
  height: 100%;
  width: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: var(--transition-fast);
  padding-top: 20px;
 /* background-color: rgba(250, 250, 250, 0.9);
  backdrop-filter: blur(5px);*/
}

.mobile-links a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  text-align: center;
  color: rgb(18, 19, 18);
}

.mobile-links a:hover{
/*color: #7869E6*/

}
.mobile-links .closebtn {
  font-size: var(--font-2x-large);
  color:rgb(18, 19, 18,0.7);
  padding:0 15px 0 22px;
  margin-right: 20px;
  margin-top: 20px;
  border: 5px solid rgb(18, 19, 18,0.7);
  position: absolute;
  right: 0;
  top: 0;
}

/*Hero*/

.hero h1 {
  font-size: var(--font-3x-large);
  font-weight: bold;
  color: rgb(18, 19, 18);
}

.hero i {
  font-size: var(--font-large) !important;
  color:rgb(18, 19, 18);
}

.hero p {
  font-size: var(--font-x-large);
  font-weight: normal;
  color: rgb(18, 19, 18);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  min-height: 300px;
  height: 800px;

}

.hero a {
  border: 3px rgb(18, 19, 18);
  text-decoration: none;
  background-color: rgb(23, 24, 23);
  color: rgb(240, 245, 240);
  transition: var(--transition-fast);
}

.hero a:hover {
  /*background-color: rgba(130, 131, 130, 0.7);*/
  color: white;
}
/*Bottom*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 300px;
    font-size: 1em;
    font-weight:500;
    font:400 19px/1 "Avenir Next", sans-serif;
    letter-spacing: 1px;
    color: #fff;
    background-color: #7869E6;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    border-radius:5px;
    transition: var(--transition-fast);
    box-shadow: 0 10px 25px rgb(123 104 238 / 50%);

   
}
.btn-hover:hover { 
 background-color: #6d60ce;
}

.btn-hover:focus {
    outline: none;
}


/*About*/
.about {
  width: 100%;
  min-height: 500px;
  margin-top: 30%;
}

.content {
  padding: 50px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.116);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.116);
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.116);
}

.content h3 {
  margin-top: 30px !important;
}

.content p {
  margin-top: 15px !important;
  font-size:1.0625rem;
  line-height: 1.6;
 
}

.leadership {
  margin-top: 50px;
}

.leadership.content h3 {
  margin-top: 0 !important;
}

.l-cards {
  display: flex;
}

.icons {
  font-size: var(--font-x-large);
}

.l-card {
  width: 50%;
  margin-top: 50px !important;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.circular-portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.circular-portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Testimonials*/

.testimonials {
  min-height: 300px;
  height: auto;
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
}

.testimonials h2 {
  color: white;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: white;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

.mySlides p {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(153, 255, 187, 0.2);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  /*background-color: rgba(153, 255, 187, 1);*/
}

/*Consulting*/
.consulting.content {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
.c-card {
  min-height: 100px;
  width: 70%;
  float: left;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.116);
  -moz-box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.116);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.116);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: var(--font-medium-large);
  padding: 25px;
  border-radius: 15px;
  /*background-color:#F1F0FC;*/

}
.c-card p{
padding:0 20px 40px;

}
img{
 border-radius: 5px; 

}

.c-card p {
  text-align: center;
}

.c-card-right {
  float: right;
}

.why-us {
  min-height: 300px;
  height: auto;
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
}

.why-us h2 {
  color: white;
}

.why-us .container {
  width: 40%;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 25px;
}

.box {
  flex: 35%;
  min-height: 100px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--font-large);
  padding: 15px;
}

/*Contact*/

.contact {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.contact form {
  background: #fafbfc;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
 
}

.contact .form .container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.contact span {
  color: var(--title-span-color);
}

.contact .form .container form {
  width: 100%;
}

.contact .short-contact {
  display: flex;
  flex-direction: column;
  align-items: left;
  min-height: 400px;
}

.contact .form input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact .form input[type="submit"] {
  border: 3px solid rgb(153, 255, 187);
  text-decoration: none;
  color: rgb(153, 255, 187);
  transition: var(--transition-fast);
  background-color: transparent;
  padding: 10px 25px;
}

.contact .form input[type="submit"]:hover {
  background-color: rgba(153, 255, 187, 0.7);
  color: black;
}
/*new form*/
input[type=text], input[type=email], textarea {
  width: 80%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #7868E6;
  color: white;
  font-size: 16px;
  padding: 8px 24px;
  width:100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: ##6C5DCF;
}

/*Footer*/

.footer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color:#696969 ;
  font-size: 0.9em;
  font-weight: 300;
  width: 100%;
  height: 70%;
  background: #111;
  position: fixed; left: 0; bottom: 0;
  z-index: -1000;
  margin: auto ;
  padding:0 40px 70px;
  border: solid 0px mediumaquamarine;
}

.footer-content{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
 /* padding: 20px ;*/
  white-space:nowrap;
}

.footer-head{
  
  display: flex;
  flex-direction: row;
  justify-content: center;


}
.footer-head h2{
color:#696969 ;

}

.footer-content div{
  border:solid 0px yellowgreen;
}
.bottom{
  border: solid 0px green;
  position: fixed;
  width: 100%;
  bottom: 40px;
  left: 0;
  background-color:  rgb(25, 25, 25); 
  padding: 10px;
 

}
.footer span{
position: fixed;
bottom: 0;
padding:10px ;
display:inline-block;
width:100%;
font-size: 0.8em; 
text-align: flex-start;


}
.footer-links{
  border:solid 0px yellow;
  display: flex;
  justify-content: space-evenly;
  
}
.footer-links a{
  font-size: 0.85em;
  text-decoration: none;
}



.avatar{
 width: 140px;
 height: 140px;
 border: solid #7869E6 4px;/* #7869E6*/
 border-radius: 50%;
 box-shadow: 0 1px 25px rgb(123 104 238 / 50%);
 
}
ul{
  list-style: none;
  padding: 0 20px;

}
ul li{
margin-bottom: 15px;
}
ul img{
 width:40px;
}
li a {
  text-decoration: none;
  font-size: 0.8em;
}
.a-link a{
  font-size: 0.9em;
  letter-spacing: normal;
}
@media (max-width: 800px) {
  .footer-content {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 80%;
  }
  .contact.container {
    width: 80%;
  }
  .contact .short-contact h2 {
    width: 100%;
  }

  .why-us .container {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .nav-container {
    width: 100%;
  }

  .container {
    width: 90%;
  }

  .nav-container .links {
    display: none;
  }

  .mobile-button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  .mobile-button span {
    font-size: var(--font-x-large);
  }

  .mobile-links-active {
    width: 100%;
  }

  .hero h1,
  .hero p {
    text-align: center;
  }

  .c-card {
    width: 90%;
  }

  .mySlides {
    padding: 50px !important;
  }

  .mySlides p {
    width: 60%;
  }

  .box {
    flex: 45%;
    font-size: var(--font-medium-large);
    min-height: 0;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .content.container,
  .leadership-content.container {
    width: 100%;
  }

  .container {
    width: 80%;
  }

  .l-cards {
    flex-direction: column;
  }

  .l-card {
    width: 100%;
  }

  .c-card {
    width: 100%;
    float: none;
  }
  .c-card-right {
    float: none;
  }

  .mySlides {
    padding: 30px !important;
  }

  .mySlides p {
    width: 70%;
  }

  .testimonials {
    padding: 15px !important;
  }

  .contact {
    flex-direction: column;
    justify-content: center;
  }

  .contact .short-contact {
    width: 100%;
    min-height: 0;
    justify-content: center;
  }

  .contact .short-contact h2 {
    width: fit-content;
  }

  .contact .container {
    width: 90%;
  }

  .contact .form .container form {
    width: 100%;
  }

  .why-us .container {
    width: 80%;
  }

  .box {
    flex: 100%;
  }
}

@media screen and (max-width: 480px) {
  html,
  body {
    overflow-x: none;
  }

  #back-to-top {
    display: none !important;
  }

  .navigation {
    position: sticky;
    top: 0;
    z-index: 999;
    background: rgba(252, 252, 252, 1) !important;
  }

  .mobile-links .closebtn {
    margin-right: 0;
  }

  .hero {
    min-height: 500px;
    height: auto;
    border: solid 0px red;
  }

  .hero h1 {
    font-size: var(--font-x-large);
  }
  .hero p {
    font-size: var(--font-medium);
  }

  .testimonials {
    padding: 0 !important;
  }

  .mySlides {
    font-size: 0.85rem;
  }

  .mySlides p {
    width: 70%;
  }

  .content {
    padding: 10px;
    box-shadow: none;
    border: none;
  }

  .l-card {
    padding: 0;
  }

  .contact {
    padding: 10px;
  }

  .contact p {
    font-size: var(--font-medium-large) !important;
  }

  .contact .container {
    width: 100%;
  }

  .why-us .container {
    width: 100%;
  }

  .box {
    font-size: var(--font-medium);
  }
}
.main_impressum{
display: flex;
flex-direction: column;
justify-content: right;
height: 100%;
font-family: "Avenir Next", sans-serif;
color: rgb(18, 19, 18);
letter-spacing: 1px;
}